.App {
    width: 250px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;
    background: #ddd;
    padding: 15px 30px;
}

button {
    padding: 5px 10px;
    font-size: 16px;
    margin: 5px;
}

.timer {
    background: lightblue;
    border: 1px solid grey;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
}